*.iml
*.ipr
*.iws
*.log
*.log.*
.idea
target
*.sdf
.classpath
.project
catalog.xml
nb-configuration.xml
generated/
atlassian-ide-plugin.xml
/.project
/mobile-server-api/bin
mobile-server-db/build/
mobile-server-domain/bin/
mobile-server-service/bin/
mobile-server-util/bin/
/mobile-server-api/.springBeans
.settings
/mobile-server-domain/.project
test-output
